{% extends "layout.html" %}
{% block content %}
        <center><h1>Patient Bill Search</h1></center>
        <br>
        <div  class="background_regpat">
            <form action="patient_bill" method="POST">
                <center>
                <table>
                <tr><th>Patient SSN ID*</th> <th>: <input type="text" name="patient_id" required></th></tr>
                <th>Date of Discharge</th><th>: <input type="date" name="DOD"></th>
                
                </table>
                <h5>*Required</h5>
                <button type="submit">Search</button>
                </center>

            </form>
        </div>
{% endblock %} 