{% extends "layout.html" %}
{% block content %}
        <center><h1>Patient Registration</h1>
        <br>
        <div>
            <form action="add_patient"  method="POST"></center>
              <div class="background">
                <center>
                  <table>
                  
                  <tr><th>Patient Name*</th> <th>: <input type="text" name="patient_name" required></th></tr>
                  <tr><th>Patient Age*</th> <th>:  <input type="number" name="patient_age" required></th></tr>
                  <tr><th>Date of Admission*</th> <th>:  <input type="date" name="date" required></th></tr>
                  <tr><th>Type of Bed*</th> <th>:  <select id="type_of_bed" name="type_of_bed" required>
                                                <option value="">None</option>
                                                <option value="General Ward">General Ward</option>
                                                <option value="Semi Sharing">Semi Sharing</option>
                                                <option value="Single Room">Single Room</option>
                                            </th>
                  </tr>
                  <tr><th>Address*</th> <th>:  <input type="text" name="address" required></th></tr>
                  <!-- <tr><th>State*</th> <th>:  <input type="text" name="state"></th></tr> -->
                  <tr><th>State*</th> <th>: <select id="state" name="state" required>
                    <option value="">None</option>
                    {% for state in states %}
                    <option value="{{state}}">{{state}}</option>
                    {% endfor %}
                  </th>
                  <!-- <tr><th>City*</th> <th>: <input type="text" name="city"></th></tr> -->
                  <tr><th>City*</th> <th>:  <select id="city" name="city" required>
                    <option value="">None</option>
                    {% for city in cities %}
                    <option value="{{city}}">{{city}}</option>
                    {% endfor %}
                  </th>
                  </table>
                  <h5>*Required</h5>
                  <button type="submit">Create Patient Account</button>
                </form>
                  <form action="create_patient"><button type="submit">Reset</button></form>
                </center>
              </div>
            
        </div>
      
{% endblock %}  