{% extends "layout.html" %}
{% block content %}
        <center><h1>Patient Registration</h1>
        <br>
        <div>
            <form action="add_patient" method="POST"></center>
              <div class="background">
                <center>
                  <table>
                  
                  <tr><th>Patient Name*</th> <th>: <input type="text" name="patient_name"></th></tr>
                  <tr><th>Patient Age*</th> <th>:  <input type="text" name="patient_age"></th></tr>
                  <tr><th>Date of Admission*</th> <th>:  <input type="date" name="date"></th></tr>
                  <tr><th>Type of Bed*</th> <th>:  <select id="type_of_bed" name="type_of_bed" required>
                                                <option value="">None</option>
                                                <option value="General Ward">General Ward</option>
                                                <option value="Semi Sharing">Semi Sharing</option>
                                                <option value="Single Room">Single Room</option>
                                            </th>
                  </tr>
                  <tr><th>Address*</th> <th>:  <input type="text" name="address"></th></tr>
                  <tr><th>State*</th> <th>:  <input type="text" name="state"></th></tr>
                  <tr><th>City*</th> <th>: <input type="text" name="city"></th></tr>
                  </table>
                  <h5>*Required</h5>
                  <button type="submit">Create Patient Account</button>
                </form>
                  <form action="create_patient"><button type="submit">Reset</button></form>
                </center>
              </div>
            
        </div>
      
{% endblock %}  