<html>
    <head>
        <title>Delete Patient</title>
        <br/>
        <center><h2>GetWell Hospital</h2></center>
        <center>We care for your Wellness!!!</center>
        <br/>
        <center>
          <select name="Patient" id="patient">
            <option value="patient">--Patient--</option>
            <option value="create_patient">Create Patient</option>
            <option value="update_patient">Update patient</option>
            <option value="delete_patient">Delete patient</option>
            <option value="view_patient">View patient</option>
          </select>

          <select name="Pharmacy" id="pharmacy">
            <option value="pharmacy">--Pharmacy--</option>
            <option value="issue_medicines">Issue Medicines</option>
            <option value="final_billing">Final Billing</option>
          </select>

          <select name="Diagnostics" id="diagnostics">
            <option value="diagnostics">--Diagnostics--</option>
            <option value="add_diagnostics">Add Diagnostics</option>
          </select>
          </center>
        
        <br/>
        <br/>
        <hr/>

    </head>

    <body>
        <center><h4>Patient Registration</h4></center>
        <br>
        <div>
            <form action="add_patient" method="POST">
                <center>
                <table>
                <tr><th>Patient SSN ID *:</th> <th><input type="text" name="patient_id"></th>
                <th><button type="submit">Get</button></th></tr>
                <tr><th>Patient Name:</th> <th><input type="text" name="patient_name"></th></tr>
                <tr><th>Patient Age:</th> <th><input type="text" name="patient_age"></th></tr>
                <tr><th>Date of Admission:</th> <th><input type="date" name="date"></th></tr>
                <tr><th>Type of Bed:</th> <th><select name="Pharmacy" id="pharmacy">
                             <option value="bed_type">--Bed Type--</option>
                             <option value="general_ward">General ward</option>
                             <option value="semi_sharing">Semi sharing</option>
                             <option value="single_bed">Single bed</option>
                             </select></th></tr>
                <tr><th>Address:</th> <th><textarea></textarea></th></tr>
                <tr><th>State:</th> <th><input type="text" name="state"></th></tr>
                <tr><th>City:</th> <th><input type="text" name="city"></th></tr>
                </table>
                <h5>* Mandatory</h5>
                <button type="submit">Delete</button>
                </center>

            </form>
        </div>
    </body>
    </html>