
{% extends "layout.html" %}
{% block content %}
        <center><h1>Delete Patient</h1></center>
        <br>
        <div  class="background_regpat">
            <form action="delete_patient2" method="POST">
                <center>
                <table>
                <tr><th>Patient SSN ID*</th> <th>: <input type="text" name="patient_id"></th>
                
                </table>
                <h5>*Required</h5>
                <button type="submit">Delete</button>
                </center>

            </form>
        </div>
{% endblock %}  