{% extends "layout.html" %}
{% block content %}
<h1>Diagnostics</h1>
<div class="background_table_bill">
<div style="opacity:inherit 200%;">
<table style="width:100%">
    <tr style="color: rgb(235, 157, 235);">
      <th>Patient SSN ID</th>
      <th>Name</th>
      <th>Age</th>
      <th>Address</th>
      <th>DOJ</th>
      <th>Type of Room</th>
    </tr>
    <tr style="text-align: center;">
      <td>{{patient.patient_id}}</td>
      <td>{{patient.patient_name}}</td>
      <td>{{patient.patient_age}}</td>
      <td>{{patient.address}}</td>
      <td>{{patient.date}}</td>
      <td>{{patient.type_of_bed}}</td>
      
    </tr>
  </table>
</div>
</div>



<center><button type="submit" style="width:100px; position:relative;left:0%;margin:170px 50px 0px;">Get Details</button></center>


<h1 style="padding: 20px;">Diagnostic to be conducted</h1>
<div class="background_table_bill1">
    <div style="opacity:inherit 200%;">
    
    <table style="width:100%">
      <tr style="color: rgb(235, 157, 235);">
        <th>Name of the Test</th>
        <th>Amount</th>
      </tr>

      {% for dia in diagnostic_list %}
        {% for dp in diagnostic_for_patient %}
          {% if dia.diagnostic_id == dp.diagnostic_id and dp.patient_id==patient_id%}

              <tr style="text-align: center;">
                <td>{{dia.name_of_the_test}}</td>
                <td>{{dia.amount}}</td>
              </tr>
          {% endif %}
        {% endfor %}
      {% endfor %}
    </table>
    </div>
    </div>
    
    <!-- <div style="text-align: center;"> -->
    <form action="get_diagnostic_count" method="POST">
      <!-- Patient ID: <input type="text" name="patient_id" style="width:100px" value={{patient.patient_id}}> -->
      <table style="width:100%;text-align: center;">
        <tr>
          <th>Add Diagnostics</th> <th><select id="name_of_the_test" name="name_of_the_test" style="width:100px">
            <option value="">None</option>
            {% for test in diagnostic_list %}
            <option value="{{test.name_of_the_test}}">{{test.name_of_the_test}}</option>
            {% endfor %}
          </th>
        </tr>
      </table>
    <button name="add_button" type="submit" value="patien_id">Add</button>
  <!-- </div> -->
  {% endblock %}