
{% extends "layout.html" %}
{% block content %}
<h1>Diagnostics List</h1>
        <div class="background_table" style="left: 30%;">
            <div style="opacity:inherit 200%;">
    <table style="width:100%;">
    <tr style="color: rgb(235, 157, 235);">
      <th>Name of the Test</th>
      <th>Amount</th>
    </tr>
    {% for dia in diagnostics %}  
    <tr style="text-align: center;">
        <td>{{dia.name_of_the_test}}</td>
        <td>{{dia.amount}} Rs.</td>
    </tr>
    {% endfor %}
    </table>
    </div>
    </div>
{% endblock %} 