{% extends "layout.html" %}
{% block content %}
        <h1>Patient Details</h1>
        <br>
        <div>
              <div class="background">
                <form method="POST">
                  <table>
                  <!-- {% if 'Patient Search'== page_value %} -->
                    <tr><th>Patient SSN ID</th> <th>: {{patient.patient_id}}</th></tr>
                  <!-- {% elif 'Delete Patient'== page_value %} -->
                  <!-- <tr><th>Patient SSN ID</th> <th>: <input type="text" name="patient_id" value="{{patient.patient_id}}"></th></tr> -->
                  <!-- {% endif %} -->
                  
                  <tr><th>Patient Name</th> <th>: {{patient.patient_name}}</th></tr>
                  <tr><th>Patient Age</th> <th>:  {{patient.patient_age}}</th></tr>
                  <tr><th>Date of Admission</th> <th>:  {{patient.date}}</th></tr>
                  <tr><th>Type of Bed</th> <th>:  {{patient.type_of_bed}}</th></tr>
                  <tr><th>Address</th> <th>:  {{patient.address}}</th></tr>
                  <tr><th>State</th> <th>:  {{patient.state}}</th></tr>
                  <tr><th>City</th> <th>: {{patient.city}}</th></tr>
                  </table>
                
                  {% if 'Patient Search'== page_value %}
                    <button type="submit" formaction="print_bill/{{patient.patient_id}}">View Patient Bill</button>
                  {% elif 'Delete Patient'== page_value %}
                    <button type="submit" formaction="delete_patient2/{{patient.patient_id}}" >Confirm Delete Patient</button>
                  {% endif %}
                </form>
              </div>
            
        </div>
      
{% endblock %}  
<!-- 
<h1 style="text-align: center;">VIEW PATIENT</h1>
<form>
    <div style="text-align: center;">
      Patient SSN ID: <input type="text" name="patient_id" value={{patient.patient_id}}>
    </div>
    <br>
    <div style="text-align: center;">
      Patient Name: <input type="text" name="patient_name" value={{patient.patient_name}}>
    </div>
    <br>
    <div style="text-align: center;">
      Patient age: <input type="text" name="patient_age" value={{patient.patient_age}}>
    </div>
    <br>
    <div style="text-align: center;">
      Date of Admission: <input type="text" name="date" value={{patient.date}}>
    </div>
    <br>
    <div style="text-align: center;">
      Type of Bed: <input type="text" name="type_of_bed" value={{patient.type_of_bed}}>
    </div>
    <br>
    <div style="text-align: center;">
      Address: <input type="text" name="address" value={{patient.address}}>
    </div>
    <br>
    <div style="text-align: center;">
      State: <input type="text" name="state" value={{patient.state}}>
    </div>
    <br>
    <div style="text-align: center;">
      City: <input type="text" name="city" value={{patient.city}}>
    </div>

</form> -->