
<h1 style="text-align: center;">VIEW PATIENT</h1>
<form>
    <div style="text-align: center;">
      Patient SSN ID: <input type="text" name="patient_id" value={{patient.patient_id}}>
    </div>
    <br>
    <div style="text-align: center;">
      Patient Name: <input type="text" name="patient_name" value={{patient.patient_name}}>
    </div>
    <br>
    <div style="text-align: center;">
      Patient age: <input type="text" name="patient_age" value={{patient.patient_age}}>
    </div>
    <br>
    <div style="text-align: center;">
      Date of Admission: <input type="text" name="date" value={{patient.date}}>
    </div>
    <br>
    <div style="text-align: center;">
      Type of Bed: <input type="text" name="type_of_bed" value={{patient.type_of_bed}}>
    </div>
    <br>
    <div style="text-align: center;">
      Address: <input type="text" name="address" value={{patient.address}}>
    </div>
    <br>
    <div style="text-align: center;">
      State: <input type="text" name="state" value={{patient.state}}>
    </div>
    <br>
    <div style="text-align: center;">
      City: <input type="text" name="city" value={{patient.city}}>
    </div>

</form>