<div>
    <h1>DIAGNOSTICS TO BE CONDUCTED</h1>
<div>
    <form action="issue_diagnostic" method="POST">
        Patient ID: <input type="text" name="patient_id" value={{patient_id}}>
        Count: <input type="text" name="count" value={{count}}>
        {% for num in range(count) %}
        Name of the Test {{num+1}}: <input type="text" name="name_of_the_test{{num}}">
        <br>
        Amount {{num+1}}: <input type="text" name="amount{{num}}">
        <br>
        <br>
        {% endfor %}
        
        <input name="button_value" type="submit" value="{{patient_id}}">
    </form>
</div>
</div>