<div>
    <h1>LOGIN</h1>
    <div>
    <form action="login" method="POST">
        Email: <input type="text" name="email">
        Password: <input type="text" name="password">
        <button type="submit">Login</button>
    </form>
</div>
</div>

<div>
    <h1>REGISTER</h1>
<div>
    <form action="register" method="POST">
        FirstName: <input type="text" name="firstname">
        LastName: <input type="text" name="lastname">
        Email: <input type="text" name="email">
        Password: <input type="text" name="password">
        <button type="submit">Register User</button>
    </form>
</div>
</div>

<div>
    <h1>Patient Registration</h1>
<div>
    <form action="add_patient" method="POST">
        Patient SSN ID: <input type="text" name="patient_id">
        Patient Name: <input type="text" name="patient_name">
        Patient Age: <input type="text" name="patient_age">
        Date of Admission: <input type="date" name="date">
        Type of Bed: <input type="text" name="type_of_bed">
        Adress: <input type="text" name="address">
        State: <input type="text" name="state">
        City: <input type="text" name="city">
        <button type="submit">Create Patient Account</button>
    </form>
</div>
</div>

<div>
    <h1>UPDATE PATIENT</h1>
<div>
    <form action="update_patient" method="POST">
        Patient SSN ID: <input type="text" name="patient_id">
        Patient Name: <input type="text" name="patient_name">
        Patient Age: <input type="text" name="patient_age">
        Date of Admission: <input type="date" name="date">
        Type of Bed: <input type="text" name="type_of_bed">
        Adress: <input type="text" name="address">
        State: <input type="text" name="state">
        City: <input type="text" name="city">
        <button type="submit">Update Patient Account</button>
    </form>
</div>
</div>

<div>
    <h1>DELETE PATIENT</h1>
<div>
    <form action="delete_patient" method="POST">
        Patient SSN ID: <input type="text" name="patient_id">
        <button type="submit">Delete Patient Account</button>
    </form>
</div>
</div>

<div>
    <h1>VIEW PATIENT SCREEN</h1>
<div>
    <form action="view_patient_screen" method="POST">
        <button type="submit">View Patient Screen</button>
    </form>
</div>
</div>


<div>
    <h1>SEARCH PATIENT</h1>
<div>
    <form action="search_patient" method="POST">
        Patient SSN ID: <input type="text" name="patient_id">
        <button type="submit">Search Patient Account</button>
    </form>
</div>
</div>

<div>
    <h1>PHARMACIST SEARCH PATIENT</h1>
<div>
    <form action="pharmacist_search_patient" method="POST">
        Patient SSN ID: <input type="text" name="patient_id">
        <button type="submit">Search Patient Account</button>
    </form>
</div>
</div>