<html>
    <head>
        <title>Issue Diagnostics</title>
        <br/>
        <center><h2>GetWell Hospital</h2></center>
        <center>We care for your Wellness!!!</center>
        <br/>
        <center>
          <select name="Patient" id="patient">
            <option value="patient">--Patient--</option>
            <option value="create_patient">Create Patient</option>
            <option value="update_patient">Update patient</option>
            <option value="delete_patient">Delete patient</option>
            <option value="view_patient">View patient</option>
          </select>

          <select name="Pharmacy" id="pharmacy">
            <option value="pharmacy">--Pharmacy--</option>
            <option value="issue_medicines">Issue Medicines</option>
            <option value="final_billing">Final Billing</option>
          </select>

          <select name="Diagnostics" id="diagnostics">
            <option value="diagnostics">--Diagnostics--</option>
            <option value="add_diagnostics">Add Diagnostics</option>
          </select>
          </center>
        
        <br/>
        <br/>
        <hr/>

    </head>

    <body>
        <div>
            <div>
            <h3 style="text-align: center;">Issue Diagnostics</h3>
            
            <table style="width:100%">
                <tr style="text-align: center;">
                  <th>Name of the test</th>
                  <th>Amount</th>
                </tr>
        
                <tr style="text-align: center;">
                  <td>{{test_name}}</td>
                  <td>{{rate}}</td>
                  <td><button type="submit">Add</button></td>
                  
                </tr>
              </table>
            </div>
            </div>
            <br><br><br>
            <center><button type="submit">Update</button></center>
    </body>
</html>
