<html>
    <head>
        <title>Issue Medicines</title>
        <br/>
        <center><h2>GetWell Hospital</h2></center>
        <center>We care for your Wellness!!!</center>
        <br/>
        <center>
          <select name="Patient" id="patient">
            <option value="patient">--Patient--</option>
            <option value="create_patient">Create Patient</option>
            <option value="update_patient">Update patient</option>
            <option value="delete_patient">Delete patient</option>
            <option value="view_patient">View patient</option>
          </select>

          <select name="Pharmacy" id="pharmacy">
            <option value="pharmacy">--Pharmacy--</option>
            <option value="issue_medicines">Issue Medicines</option>
            <option value="final_billing">Final Billing</option>
          </select>

          <select name="Diagnostics" id="diagnostics">
            <option value="diagnostics">--Diagnostics--</option>
            <option value="add_diagnostics">Add Diagnostics</option>
          </select>
          </center>
        
        <br/>
        <br/>
        <hr/>

    </head>

    <body>
      <div>
        <div>
        <h1 style="text-align: center;">MEDICINES ISSUED</h1>
        
        <table style="width:100%">
            <tr style="text-align: center;">
              <th>Medicine Name</th>
              <th>Quantity</th>
              <th>Rate</th>
              <th>Amount</th>
            </tr>
    
                
            {% for i in range(medicine_name_list|count) %}
                {% for med in medicines %}
                    {% if med.medicine_name==medicine_name_list[i] and med.quantity_available>=quantity_list[i] %}
                        <tr style="text-align: center;">
                            <td>{{i}}:{{medicine_name_list[i]}}</td>
                            <td>{{quantity_list[i]}}</td>
                            <td>{{med.rate}}</td>
                            <td>{{quantity_list[i]*med.rate}}</td>
                        </tr>
                    {% endif %}
                {% endfor %}
            {% endfor %}
          </table>
        </div>
        </div>
            <br><br><br>
            <center><button type="submit">Update</button></center>
    </body>
</html>
