<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="static/css/style.css">
    <div class="image-login">
    <!-- <img src="11.png"> -->
    </div>
  </head>
  <body class="body-style">
    

<div class="login-box">
  <h1>Login</h1>
 
  
<div class="user_pass">
  <form action="logincheck" method="POST">
    
    <div class="textbox">
      <i class="fas fa-user"></i>
      
      <input type="text" placeholder="Username" name="email">
    </div>

    <div class="textbox">
      <i class="fas fa-lock"></i>
     
      <input type="password" placeholder="Password" name="password">
    </div>

    <input type="submit" class="btn" value="Sign in">
    
  </form>
</div>

</div>
<div class="login-text"><p style="text-align: center; border-bottom: 6px solid #e094dd;" >Get Well</p>
  <p style="text-align: center; border-bottom: 6px solid #e094dd;">Hospitals</p></div>
  </body>
</html>
