{% extends "layout.html" %}
{% block content %}
<h1>Medicines List</h1>
<div class="background_table" style="left: 10%;">
<div style="opacity:inherit 200%;">
    
    
    <table style="width:100%">
        <tr style="color: rgb(235, 157, 235);" >
          <th>Medicine ID</th>
          <th>Medicine Name</th>
          <th>Quantity Available</th>
          <th>Rate</th>
        </tr>
        {% for med in medicines %}          
        <tr>
            <td>{{med.medicine_id}}</td>
            <td>{{med.medicine_name}}</td>
            <td>{{med.quantity_available}}</td>
            <td>{{med.rate}} Rs.</td>
        </tr>
        {% endfor %}
      </table>
    </div>
</div>
{% endblock %}