{% extends "layout.html" %}
{% block content %}
<h1>Patient Bill</h1>
<div class="background_table_bill">
<div style="opacity:inherit 200%;">

<table style="width:100%">
    <tr style="color: rgb(235, 157, 235);">
      <th>Patient SSN ID</th>
      <th>Name</th>
      <th>Age</th>
      <th>Address</th>
      <th>DOJ</th>
      <th>Type of Room</th>
    </tr>
    <tr style="text-align: center;">
      <td>{{patient.patient_id}}</td>
      <td>{{patient.patient_name}}</td>
      <td>{{patient.patient_age}}</td>
      <td>{{patient.address}}</td>
      <td>{{patient.date}}</td>
      <td>{{patient.type_of_bed}}</td>
      
    </tr>
  </table>
</div>
</div>





<h1 style="padding: 20px; margin-top: 150px;">Medicines issued</h1>   
    <div class="background_table_bill1">
    <div style="opacity:inherit 200%;">
        <table style="width:100%">
            <tr style="color: rgb(235, 157, 235);">
              <th>Medicine Name</th>
              <th>Quantity</th>
              <th>Rate</th>
              <th>Amount</th>
            </tr>
    
            {% for med in medicine_list %}
              {% for mp in medicine_issued_for_patient %}
                {% if med.medicine_id == mp.medicine_id %}
    
                    <tr style="text-align: center;">
                      <td>{{med.medicine_name}}</td>
                      <td>{{mp.quantity_issued}}</td>
                      <td>{{med.rate}}</td>
                      <td>{{mp.quantity_issued*med.rate}}</td>
                    </tr>
                    {% endif %}
              {% endfor %}
            {% endfor %}
                    <tr>
                      <td colspan="3">Bill for Pharmacy</td>
                      <td>Rs {{total_medicine_bill}}</td>
                    </tr>
                
          </table>
        </div>
        </div>
        <!-- <div style="text-align: center;">Bill for Pharmacy: Rs {{total_medicine_bill}}</div> -->
      

<h1 style="padding: 20px;">Diagnostic Bill</h1>
<div class="background_table_bill2">
<div style="opacity:inherit 200%;">
    
    <table style="width:100%">
      <tr style="color: rgb(235, 157, 235);">
        <th>Name of the Test</th>
        <th>Amount</th>
      </tr>

      {% for dia in diagnostic_list %}
        {% for dp in diagnostic_for_patient %}
          {% if dia.diagnostic_id == dp.diagnostic_id %}

              <tr style="text-align: center;">
                <td>{{dia.name_of_the_test}}</td>
                <td>{{dia.amount}}</td>
              </tr>
          {% endif %}
        {% endfor %}
        {% endfor %}
        <tr>
          <td colspan="1">Bill for Diagnostics</td>
          <td>Rs {{total_diagnostic_bill}}</td>
        </tr>
      
    </table>
    <div style="text-align: center; font-size: 24px; padding-top: 10px;"><p>Grand Total: Rs {{grand_total}}</p></div>
    </div>
    </div>
<button style="width:100px; position:relative;margin-bottom:100px;left:40%;margin-top: 10px;" onclick="window.print()">Print Bill</button>
    <!-- <div style="text-align: center;">Bill for Diagnostics: Rs {{total_diagnostic_bill}}</div> -->

{% endblock %}