{% extends "layout.html" %}
{% block content %}
<h1>Pharmacy</h1>
<div class="background_table_bill">
<div style="opacity:inherit 200%;">


<table style="width:100%">
    <tr style="color: rgb(235, 157, 235);">
      <th>Patient SSN ID</th>
      <th>Name</th>
      <th>Age</th>
      <th>Address</th>
      <th>DOJ</th>
      <th>Type of Room</th>
    </tr>
    <tr style="text-align: center;">
      <td>{{patient.patient_id}}</td>
      <td>{{patient.patient_name}}</td>
      <td>{{patient.patient_age}}</td>
      <td>{{patient.address}}</td>
      <td>{{patient.date}}</td>
      <td>{{patient.type_of_bed}}</td>
      
    </tr>
  </table>
</div>
</div>



<!-- <center><button type="submit" style="width:100px; position:relative;left:0%;margin:170px 50px 0px;">Get Details</button></center> -->


<h1 style="padding: 20px; margin:170px 50px 0px;">Medicines Prescribed</h1>
<div class="background_table_bill1">
    <div style="opacity:inherit 200%;">
   
    
    <table style="width:100%">
        <tr style="color: rgb(235, 157, 235);">
          <th>Medicine Name</th>
          <th>Quantity</th>
          <th>Rate</th>
          <th>Amount</th>
        </tr>

        {% for med in medicine_list %}
          {% for mp in medicine_issued_for_patient %}
            {% if med.medicine_id == mp.medicine_id and mp.patient_id==patient_id%}

                <tr style="text-align: center;">
                  <td>{{med.medicine_name}}</td>
                  <td>{{mp.quantity_issued}}</td>
                  <td>{{med.rate}} Rs.</td>
                  <td>{{mp.quantity_issued*med.rate}} Rs.</td>
                </tr>
            {% endif %}
          {% endfor %}
        {% endfor %}
      </table>
    </div>
    </div>
    <br><br><br>
    <div style="text-align: center;">
    <form action="get_med_count" method="POST">
      <table style="width:100%;text-align: center; margin-bottom: 100px;">
        <tr>
          <th>Add Medicine</th> 
          <th><select id="medicine_name" name="medicine_name" style="width:100px">
            <option value="">None</option>
            {% for medicine in medicine_list %}
            <option value="{{medicine.medicine_name}}">{{medicine.medicine_name}}</option>
            {% endfor %}
          </th>
          <th>
            <input type="text" name="quantity_issued" style="width:100px">
          </th>
        </tr>
        <tr>
          <th colspan=4 ><button type="submit" formaction="get_med_count/{{patient_id}}" name="patient_id" style="width:100px;" >Add</button></th>
        </tr>
        
      </table>
      
    </form>
  </div>
  {% endblock %}