<html>
    <head>
        <title>Medicine List</title>
        <br/>
        <center><h1>GetWell Hospital</h1></center>
        <center>We care for your Wellness!!!</center>
        <br/>
        <center>
        </head>
    
        <hr/>
<body>
<h1><center>Patient Bill</center></h1>
<table style="width:100%; align-items: center;" border="1">
    <tr>
      <th>Patient SSN ID</th>
      <th>Name</th>
      <th>Age</th>
      <th>Address</th>
      <th>DOJ</th>
      <th>Type of Room</th>
    </tr>
    <tr style="text-align: center;">
      <td>{{patient.patient_id}}</td>
      <td>{{patient.patient_name}}</td>
      <td>{{patient.patient_age}}</td>
      <td>{{patient.address}}</td>
      <td>{{patient.date}}</td>
      <td>{{patient.type_of_bed}}</td>
      
    </tr>
  </table>






<h1><center>Medicines issued</center></h1>   

        <table style="width:100%; align-items: center; text-align: center;" border="1">
            <tr>
              <th>Medicine Name</th>
              <th>Quantity</th>
              <th>Rate</th>
              <th>Amount</th>
            </tr>
    
            {% for med in medicine_list %}
              {% for mp in medicine_issued_for_patient %}
                {% if med.medicine_id == mp.medicine_id and mp.patient_id==patient_id%}
    
                    <tr style="text-align: center;">
                      <td>{{med.medicine_name}}</td>
                      <td>{{mp.quantity_issued}}</td>
                      <td>{{med.rate}}</td>
                      <td>{{mp.quantity_issued*med.rate}}</td>
                    </tr>
                    
                    {% endif %}
              {% endfor %}
            {% endfor %}
            <tr>
              <td colspan="3">Bill for Pharmacy</td>
              <td>Rs {{total_medicine_bill}}</td>
            </tr>      
          </table>
        <!-- <div style="text-align: center;">Bill for Pharmacy: Rs {{total_medicine_bill}}</div> -->
      

<h1><center>Diagnostic Bill</center></h1>

    
    <table style="width:100%; align-items: center; text-align: center;" border="1">
      <tr>
        <th>Name of the Test</th>
        <th>Amount</th>
      </tr>

      {% for dia in diagnostic_list %}
        {% for dp in diagnostic_for_patient %}
          {% if dia.diagnostic_id == dp.diagnostic_id and dp.patient_id==patient_id%}

              <tr style="text-align: center;">
                <td>{{dia.name_of_the_test}}</td>
                <td>{{dia.amount}}</td>
              </tr>
              
          {% endif %}
        {% endfor %}
        {% endfor %}
        <tr>
          <td colspan="1">Bill for Diagnostics</td>
          <td>Rs {{total_diagnostic_bill}}</td>
        </tr>
        
      
    </table>
   <center><h1>Grand Total: Rs {{grand_total}}</h1>
   
<button onclick="window.print()">Print Bill</button></center>
    <!-- <div style="text-align: center;">Bill for Diagnostics: Rs {{total_diagnostic_bill}}</div> -->

  </body>
</html>