{% extends "layout.html" %}
{% block content %}
        <center><h1>{{page_value}}</h1></center>
        <br>
        <div class="background_regpat">
            <form action="display_patient" method="POST">
                <center>
                <table>
                <tr><th>Patient SSN ID*</th> <th>: <input type="text" name="patient_id" required></th>
                </table>
                <h5>*Required</h5>
                
                <input type="submit" name="search_button" value="{{page_value}}">
                </center>
            </form>
        </div>
{% endblock %}