{% extends "layout.html" %}
{% block content %}
        <center><h1>Edit Patient</h1></center>
        <br>
        <div>
          <center>
            <form action="update_patient2" method="POST">
              <div class="background_editpat">
                <center>
                <table>
                <tr><th>Patient SSN ID*</th> <th>:  <input type="number" name="patient_id" required></th>
                <th><button type="submit">Get</button></th></tr>
                <tr><th>Patient Name</th> <th>: <input type="text" name="patient_name" ></th></tr>
                <tr><th>Patient Age</th> <th>:  <input type="number" name="patient_age" min="1" max="3"></th></tr>
                <tr><th>Date of Admission</th> <th>:  <input type="date" name="date"></th></tr>
                <tr><th>Type of Bed</th> <th>:  <select id="type_of_bed" name="type_of_bed">
                                            <option value="">None</option>
                                            <option value="General Ward">General Ward</option>
                                            <option value="Semi Sharing">Semi Sharing</option>
                                            <option value="Single Room">Single Room</option>
                                        </th>
                <tr><th>Address</th> <th>:  <input type="text" name="address"></th></tr></th></tr>
                <tr><th>State</th> <th>:  <select id="state" name="state" >
                  <option value="">None</option>
                  {% for state in states %}
                  <option value="{{state}}">{{state}}</option>
                  {% endfor %}
                </th>
                <tr><th>City</th> <th>: <select id="city" name="city" >
                  <option value="">None</option>
                  {% for city in cities %}
                  <option value="{{city}}">{{city}}</option>
                  {% endfor %}
                </th>
                </table>
                <h5>*Required</h5>
                </center>
              </div>  
            </form>
          </center>
        </div>
      
{% endblock %}