
{% extends "layout.html" %}
{% block content %}
<h1>Patients List</h1>
<div class="background_table">
  <div style="opacity:inherit 200%;">
<table style="width:100%;">
    <tr style="color: rgb(235, 157, 235);">
      <th>Patient SSN ID</th>
      <th>Name</th>
      <th>Age</th>
      <th>Address</th>
      <th>DOJ</th>
      <th>Type of Room</th>
    </tr>
    {% for member in patient %}
    <tr>
      <td>{{member.patient_id}}</td>
      <td>{{member.patient_name}}</td>
      <td>{{member.patient_age}}</td>
      <td>{{member.address}}</td>
      <td>{{member.date}}</td>
      <td>{{member.type_of_bed}}</td>
      
    </tr>
    {% endfor %}
  </table>
</div>
</div>
  {% endblock %}  